{% extends "base.html" %}

{% block title %}{{ place.title }} Reviews{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h2><a href="{% url "reviews:create" place.pk place.slug %}">Create new review</a></h3>
  {% endif %}

  {% if reviews %}
    {% for review in reviews %}
      <article class="review">
        {% if review.lede %}<h3>{{ review.lede }}</h3>{% endif %}
        {{ review.body|linebreaks }}
        <p>Review posted by {{ review.author }} on {{ review.pub_date }}</p>
      </article>
    {% endfor %}
  {% else %}
    <p>There are no reviews for {{ place.title }}.</p>
  {% endif %}
{% endblock %}
