{% extends "base.html" %}

{% block title %}{{ place.title }}{% endblock %}

{% block content %}
  <h1>{{ place.title }}</h1>
  {% if place.lede %}
    <h3>{{ place.lede }}</h3>
  {% endif %}
  {% if place.description %}
    {{ place.description|linebreaks }}
  {% endif %}

  {% if place.features %}
    {% for feature in place.features.all %}
      <div class="feature">
        <h4>{{ feature.title }}</h4>
        {{ feature.description }}
      </div>
    {% endfor %}
  {% endif %}

  <a href="{% url "reviews:list" place.id place.slug %}">Reviews</a>
{% endblock %}
